<meta name="viewport" content="width=device-width, initial-scale=1.0">
<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <img src="{{ url_for('static', filename='images/logo.png') }}"
                        style="width: 25%; padding-bottom: 25px;">
                    <p>AI-based challenge in Bangladesh for the first time ever. AI a powerful tool for us to use as
                        we make decisions about our daily lives.</p>
                    <p>
                        <b>Email: </b><a href="mailto: dhaka.ai.bd@gmail.com"
                            target="_blank">dhaka.ai.bd@gmail.com</a><br>
                        <b>Mobile: </b><a href="tel: +8801847246426">+8801847246426</a><br>
                        <b>Address: </b>220/D, Begum Rokeya Sarani (300 meter North Side of IDB Bhaban), Dhaka
                        -1207, Bangladesh
                    </p>
                    <ul class="ftco-footer-social list-unstyled mt-5">
                        <a href="https://www.facebook.com/dhaka.ai.bd/" target="_blank" class="fa fa-facebook"
                            style="font-size: 30px; padding: 5px"></a>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <embed id="Footer-Map"
                    src="https://maps.google.com/maps?q=green%20university&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
                    style="width: 500px; height: 300px;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved | Dhaka AI
                    <br>
                    Created with 💜 by <a href="https://www.facebook.com/arannya">Arannya Monzur</a> & <a href="https://www.facebook.com/the.excommunicado">Ataf Fazledin Ahamed</a>
                </p>
            </div>
        </div>
    </div>
</footer>