<!DOCTYPE html>
<html lang="en">

<head>

    <title>Core Team - Dhaka AI 2020</title>
    {% include 'base/assets.html' %}

</head>

<body>
    <!-- Navbar -->
    {% include 'base/navbar.html' %}
    <div
        style="background-image: url({{ url_for('static', filename='images/bg_1.jpg') }}); background-size: cover; background-position: 50% 50%; height: 400px;">
        <div class="container">
            <div class="text" style="width: 400px;">
                <h3
                    style="font-size: 40px; text-transform: uppercase; color: rgb(255, 255, 255);line-height: 1.1;font-weight: 900; margin: auto; padding-top: 200px;">
                    Core Team
                </h3>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-portfolio bg-light">
        <div class="container">
            <div class="row no-gutters">
                
                <div class="col-md-12 portfolio-wrap mt-0">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-7">
                            <div class="desc">
                                <div class="top">
                                    <h5 class="mb-2" style="font-weight: 700;">Chief Advisor</h4>
                                </div>
                            </div>
                            Prof. Dr. Md. Abdur Razzaque, GUB
                        </div>
                    </div>
                </div>

                <div class="col-md-12 portfolio-wrap mt-0">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-7">
                            <div class="desc">
                                <div class="top">
                                    <h5 class="mb-2" style="font-weight: 700;">Steering Team</h4>
                                </div>
                            </div>
                            <ul>
                                <li>Dr. ASM Shihavuddin (Lead), GUB</li>
                                <li>Dr. Rifat Ahmed, ULAB</li>
                                <li>Dr. Zahidul Islam, GUB</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 portfolio-wrap mt-0">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-7">
                            <div class="desc">
                                <div class="top">
                                    <h5 class="mb-2" style="font-weight: 700;">Website Team</h4>
                                </div>
                            </div>
                            <ul>
                                <li>Arannya Monzur (Lead), ULAB	</li>
                                <li>Rushad, GUB	</li>
                                <li>Md. Habibullah, GUB</li>
                                <li>Ataf Fazledin Ahamed, BUET</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 portfolio-wrap mt-0">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-7">
                            <div class="desc">
                                <div class="top">
                                    <h5 class="mb-2" style="font-weight: 700;">Event Management Team</h4>
                                </div>
                            </div>
                            <ul>
                                <li>Md Hasan Maruf (Lead), GUB</li>
                                <li>M.D. Saaduzzaman, GUB</li>
                                <li>Mohammad Kamrozzaman Kiron, GUB</li>
                                <li>Dr. Abul Kalam Al Azad, ULAB</li>	
                                <li>Dr. Nafees Mansur, ULAB</li>
                                <li>Atikuzzaman, GUB</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 portfolio-wrap mt-0">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-7">
                            <div class="desc">
                                <div class="top">
                                    <h5 class="mb-2" style="font-weight: 700;">Image Acquisition Team</h4>
                                </div>
                            </div>
                            <ul>
                                <li>Dr. Ahmed Al Mansur (Lead), GUB</li>
                                <li>Asif Ul Haq, GUB</li>
                                <li>Md. Asif Iqbal Fahim, GUB</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 portfolio-wrap mt-0">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-7">
                            <div class="desc">
                                <div class="top">
                                    <h5 class="mb-2" style="font-weight: 700;">Judge Panel</h4>
                                </div>
                            </div>
                            <ul>
                                <li>Dr. Muhammad Abul Hasan (Lead), ULAB</li>
                                <li>Dr. Ishtiaque Ahmed, University of Toronto</li>                                
                                <li>Dr. M. Moshiul Hoque, CUET</li>
                                <li>Dr. Md Atiqur Rahman Ahad, DU</li>
                                <li>Dr. Mohammad Ali Moni,  UNSW Sydney, Australia</li>
                                <li>Dr. Nabeel Mohammed, NSU		</li>
                                <li>Dr. Md. Hasanul Kabir, IUT</li>
                                <li>Dr. Rahamatullah Khondoker, Darmstadt, Germany</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 portfolio-wrap mt-0">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-7">
                            <div class="desc">
                                <div class="top">
                                    <h5 class="mb-2" style="font-weight: 700;">Volunteer</h4>
                                </div>
                            </div>
                            <ul>
                                <li>Mohammad Navid Nayyem, ULAB</li>
                                <li>Md. Shakhayat Hossain Shykat, ULAB</li>
                                <li>Abdulla Al Numan, ULAB</li>
                                <li>Ashikuzzaman Pias, ULAB</li>
                                <li>KH. Nafiu Nur Rashid, ULAB</li>
                                <li>Md. Asraf Ali, ULAB </li>
                                <li>Sabiha Sumaiya, ULAB </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    {% include 'base/footer.html' %}

</body>

</html>